{% extends 'base.html' %}
{% load static %}
{% block title %}Detail{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/custom/main.css' %}">
{% include 'nav.html' %}
{% comment %} <a href="javascript:history.back()" class="fas fa-arrow-left link-dark text-decoration-none m-4 ms-5 fa-2x" style="color: rgb(180, 180, 180);"></a> {% endcomment %}
<div class="detail card post bg-white my-4 mx-auto shadow" id="{{post.id}}">
    <div class="card-header d-flex align-items-center">
        <a class="px-1" href="{% url 'profiles:detail' post.user.pk %}">
            <img class="avatar-sm fs-3" src="{{post.user.get_avatar_url}}" alt="avatar">
        </a>
        <div class="ms-2 flex-grow-1 d-flex flex-column align-items-start justify-content-evenly">
            <a class="name m-0 link-dark text-decoration-none fw-bold" style="font-size: 1.2em;" href="{% url 'profiles:detail' post.user.pk %}">{{post.user}}</a>
            {% if post.location %}
            <p class="small col-10 mb-1 fw-light lh-1">{{post.location}}</p>
            {% else %}
            <div class="mb-2"></div>
            {% endif %}
        </div>
    </div>
    <figure class="figure post-image card-img d-flex align-content-center justify-content-center m-auto" onclick="window.location='{% url 'posts:detail' post.pk %}'">
        <img src="{{post.image.url}}" alt="post" class="figure-img img-fluid mx-auto">
    </figure>
    <div class="card-body py-1">
        <div class="links d-flex justify-content-between mb-1 pt-0">
            <div class="thumbs d-flex align-items-center">
                <span class="btn icon-sm {% for like in likes %}{% if like.user == request.user and like.post == post %}{% if like.value == 1 %} text-primary fas {% else %} far {% endif %}{% else %} far {% endif %}{% empty %} far {% endfor %} fa-thumbs-up rate like p{{post.id}}" id="{{post.id}}">{{post.get_like_count}}</span>
                <span class="btn icon-sm {% for like in likes %}{% if like.user == request.user and like.post == post %}{% if like.value == -1 %} text-danger fas {% else %} far {% endif %}{% else %} far {% endif %}{% empty %} far {% endfor %} fa-thumbs-down rate dislike p{{post.id}}" id="{{post.id}}">{{post.get_dislike_count}}</span>
            </div>
            <div>
                <a href="{% url 'posts:detail' post.pk %}" class="btn link-dark text-decoration-none">
                    <small class="me-1 c{{post.id}} icon-sm">{{post.get_comment_count}}</small>
                    <span class="text-primary fas fa-comment-alt icon-sm"></span>
                </a>
            </div>
        </div>
        {% if post.description %}
        <p class="card-text fw-bold">{{post.description}}</p>
        {% endif %}     
        <form method="POST" class="my-3 mt-0">{% csrf_token %}
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Comment" name="text">
                <button type="submit" class="btn btn-outline-primary input-group-text fas fa-paper-plane"></button>
            </div>
        </form>
    </div>
    <div class="card-footer text-muted text-end mx-3">
        2 days ago
    </div>
    {% if comments %}
    <ul class="list-group list-group-flush">
        {% for comment in comments %}
        <li class="list-group-item">
            <header class="d-flex justify-content-between align-items-center">
                    <a class="ms-1 link-dark text-decoration-none" href="{% url 'profiles:detail' comment.user.pk %}">
                        <img class="i-avatar fs-3" src="{{post.user.get_avatar_url}}" alt="avatar">
                        <strong>{{ comment.user.username }}</strong>
                    </a>
                    <small>{{comment.date_created}}</small>
            </header>
            <p class="p-0 m-0 py-3 mx-3">{{comment.text}}</p>
            <footer>
                <div class="comment-thumbs">
                    <i class="btn {% for like in comment_likes %}{% if like.user == request.user and like.comment == comment %}{% if like.value == 1 %} text-primary fas {% else %} far {% endif %}{% else %} far {% endif %}{% empty %} far {% endfor %} fa-thumbs-up comment-rate rate like c{{comment.id}}" id="{{comment.id}}">{{comment.get_like_count}}</i>
                    <i class="btn {% for like in comment_likes %}{% if like.user == request.user and like.comment == comment %}{% if like.value == -1 %} text-danger fas {% else %} far {% endif %}{% else %} far {% endif %}{% empty %} far {% endfor %} fa-thumbs-down comment-rate rate dislike c{{comment.id}}" id="{{comment.id}}">{{comment.get_dislike_count}}</i>
                </div>
            </footer>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        trashes = document.querySelectorAll('.delete');
        trashes.forEach((trash) => {
            trash.addEventListener('click', (event) => {
                let xhr = new XMLHttpRequest();
                xhr.open('POST', "{% url 'posts:delete' %}", true);
                xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.send(JSON.stringify({ id: event.target.id }));
                xhr.onreadystatechange = () => window.location = "{% url 'posts:list' %}"
            });
        });
        rates = document.querySelectorAll('.rate');
        rates.forEach((rate) => {
            rate.addEventListener('click', (event) => {
                let xhr = new XMLHttpRequest();
                let thumbs = 0;
                if (event.target.classList.contains('comment-rate')){
                    thumbs = document.querySelectorAll('.c' + event.target.id);
                    xhr.open('POST', "{% url 'posts:like_comment' %}", true);
                }else{                        
                    thumbs = document.querySelectorAll('.p' + event.target.id);
                    xhr.open('POST', "{% url 'posts:like_post' %}", true);
                }
                xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');
                xhr.setRequestHeader('Content-Type', 'application/json');
                if (event.target.classList.contains('like')) {
                    if (event.target.classList.contains('fas')) {
                        event.target.classList.remove('fas', 'text-primary');
                        event.target.classList.add('far');
                        value = 0;
                    } else {
                        event.target.classList.add('fas', 'text-primary');
                        value = 1;
                        if (thumbs[1].classList.contains('fas')) {
                            thumbs[1].classList.remove('fas', 'text-danger');
                        }
                    }
                } else {
                    if (event.target.classList.contains('fas')) {
                        event.target.classList.remove('fas', 'text-danger');
                        event.target.classList.add('far');
                        value = 0;
                    } else {
                        event.target.classList.add('fas', 'text-danger');
                        value = -1;
                        if (thumbs[0].classList.contains('fas')) {
                            thumbs[0].classList.remove('fas', 'text-primary');
                        }
                    }
                }
                xhr.send(JSON.stringify({ id: event.target.id, value: value }));
                xhr.onreadystatechange = () => {
                    if (xhr.readyState != 4) return;
                    if (xhr.status == 200) {
                        const data = JSON.parse(xhr.responseText);
                        thumbs[0].textContent = data['likes'];
                        thumbs[1].textContent = data['dislikes'];
                    }
                };
            });
        });
    });
</script>
{% endblock %}