{% extends 'base.html' %}
{% load static %}

{% block title %}Post List{% endblock %}

{% block extra_headers %}
<script src="{% static 'js/custom/rate.js' %}"></script>
<script src="{% static 'js/custom/create_post.js' %}"></script>
{% endblock %}

{% block content %}
{% include 'create_post.html' %}
<section class="d-flex flex-column mx-auto infinite-container mt-2 w-100 d-flex align-items-center" style="margin-bottom: 7em;">
    {% for post in posts %}
    <div class="card post bg-white m-0 py-2 my-1 infinite-item shadow" id="{{post.id}}">
        <div class="card-header d-flex align-items-center">
            <a class="px-1" href="{% url 'profiles:detail' post.user.pk %}">
                <img class="avatar-sm fs-3" src="{{post.user.get_avatar_url}}" alt="avatar">
            </a>
            <div class="ms-2 flex-grow-1 d-flex flex-column align-items-start justify-content-evenly">
                <a class="name m-0 link-dark text-decoration-none fw-bold" style="font-size: 1.2em;" href="{% url 'profiles:detail' post.user.pk %}">{{post.user}}</a>
                {% if post.location %}
                <p class="small col-10 mb-1 fw-light lh-1">{{post.location}}</p>
                {% else %}
                <div class="mb-2"></div>
                {% endif %}
            </div>
        </div>
        {% if post.image %}
        <figure class="figure post-image card-img d-flex align-content-center justify-content-center m-auto" onclick="window.location='{% url 'posts:detail' post.pk %}'">
            <img src="{{post.image.url}}" alt="post" class="figure-img img-fluid mx-auto">
        </figure>
        {% endif %}
        <div class="card-body pb-1 pt-0">
            {% if post.description %}
            <p class="card-text fw-bold px-3 pt-1 my-1" onclick="window.location='{% url 'posts:detail' post.pk %}'">{{post.description}}</p>
            {% endif %}       
            <div class="links d-flex justify-content-between mb-1 pt-0">
                <div class="thumbs d-flex align-items-center">
                    <span class="btn icon-sm {% if post.is_liked %}fas text-primary{% else %}far{% endif %} fa-thumbs-up rate like p{{post.id}}" id="{{post.id}}">{{post.get_like_count}}</span>
                    <span class="btn icon-sm {% if post.is_disliked %}fas text-danger{% else %}far{% endif %} fa-thumbs-down rate dislike p{{post.id}}" id="{{post.id}}">{{post.get_dislike_count}}</span>
                </div>
                <div>
                    <a href="{% url 'posts:detail' post.pk %}" class="btn link-dark text-decoration-none">
                        <small class="me-1 c{{post.id}} icon-sm">{{post.get_comment_count}}</small>
                        <span class="text-primary fas fa-comment-alt icon-sm"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted text-end">
            {{post.date_created}}
        </div>
    </div>
    <div class="pagination">
        {% if page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{page_obj.next_page_number}}"></a>
        {% endif %}
    </div>
    {% empty %}
    <h5 class="text-center text-muted mt-5">No posts</h5>
    {% endfor %}
</section>
{% endblock %}

{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('.home').classList.add('current-page');
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            offset: 'bottom-in-view',
            onBeforePageLoad: () => {
            },
            onAfterPageLoad: () => {
                document.querySelectorAll('.rate').forEach((rate) => {
                    rate.addEventListener('click',  sendRate);
                });
            },
        });
    });
</script>
{% endblock %}