{% extends 'base.html' %}

{% block title %}Chat{% endblock %}

{% load static %}

{% block extra_headers %}
<style>
    .messages, .message{
        transform: rotate(180deg);
        transform-origin: center center;
        direction: rtl;
    }
</style>
{% endblock %}

{% block content %}
<div class="chat m-auto mt-3 bg-white rounded-3 shadow d-flex flex-column">
    <div class="infinite-container py-3 w-100 h-100 messages d-flex flex-column px-3">
        {% for message in messages %}
        {% if message.user == request.user %}
        <div class="align-self-end my-1 infinite-item message d-flex flex-nowrap justify-content-start" id="{{message.id}}">
            <a href="{% url 'profiles:detail' request.user.id %}">
                <img src="{{ request.user.get_avatar_url }}" alt="avatar" class="avatar">
            </a>
            <p class="text bg-primary text-white py-1 px-2 fw-bold rounded-3">{{message.text}}</p>
        </div>
        {% else %}
        <div class="align-self-start my-1 infinite-item message d-flex flex-nowrap justify-content-end" id="{{message.id}}">
            <p class="text bg-secondary text-white py-1 px-2 fw-bold rounded-3">{{message.text}}</p>
            <a href="{% url 'profiles:detail' friend.id %}" class="">
                <img src="{{ friend.get_avatar_url }}" alt="avatar" class="avatar">
            </a>
        </div>
        {% endif %}
        {% endfor %}
        <div class="pagination">
            {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?page={{page_obj.next_page_number}}"></a>
            {% endif %}
        </div>   
    </div>
    <div class="input-group w-100">
        <input type="text" class="form-control" placeholder="Type..." id="text" autofocus autocomplete="off">
        <button type="submit" class="btn btn-outline-primary bg-white input-group-text fas fa-arrow-alt-circle-right" id="send">
        </button>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        sendText = () => {
            text = document.getElementById('text');
            let xhr = new XMLHttpRequest();
            xhr.open('POST', "{% url 'chat:send_text' %}", true);
            xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({ room_id: '{{object.room_id}}', text: text.value }));
            text.value = '';
        }
        document.getElementById('send').addEventListener('click', sendText);
        document.getElementById('text').addEventListener('keydown', (event) => {
            if (event.key == 'Enter') sendText();
        });
        request = setInterval(() => {
            messages = document.getElementsByClassName('message');
            if (messages.length > 0){
                latest_message = messages[0].id
            }else{
                latest_message = -1
            }
            let xhr = new XMLHttpRequest();
            xhr.open('POST', "{% url 'chat:get_text' %}", true);
            xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({ room_id: '{{object.room_id}}', message: latest_message }));
            xhr.onreadystatechange = () => {
                if (xhr.readyState != 4) return;
                if (xhr.status == 200) {
                    const data = JSON.parse(xhr.responseText);
                    if (Object.keys(data).length != 0){
                        for (i in data){
                            messages = document.querySelector('.messages')
                            if (data[i].user_id == '{{request.user.id}}'){
                                messages.innerHTML =  `<div class="align-self-end my-1 infinite-item message d-flex flex-nowrap justify-content-start" id="${data[i].id}">
                                    <a href="{% url 'profiles:detail' request.user.id %}">
                                        <img src="{{ request.user.get_avatar_url }}" alt="avatar" class="avatar">
                                    </a>
                                    <p class="text bg-primary text-white py-1 px-2 fw-bold rounded-3"></p>
                                </div>` + messages.innerHTML
                            }else{
                                messages.innerHTML =  `<div class="align-self-start my-1 infinite-item message d-flex flex-nowrap justify-content-end" id="${data[i].id}">
                                    <p class="text bg-secondary text-white py-1 px-2 fw-bold rounded-3"></p>
                                    <a href="{% url 'profiles:detail' friend.id %}" class="">
                                        <img src="{{ friend.get_avatar_url }}" alt="avatar" class="avatar">
                                    </a>
                                </div>` + messages.innerHTML
                            }
                            messages.firstChild
                            .querySelector('p')
                            .textContent = data[i].text
                        }
                    }
                }
            }
        }, 2500);
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            offset: 'bottom-in-view',
            onBeforePageLoad: () => {
            },
            onAfterPageLoad: () => {
                document.getElementById('send').addEventListener('click', sendText);
                document.getElementById('text').addEventListener('keydown', (event) => {
                    if (event.key == 'Enter') sendText();
                });
            },
        });
    });
</script>
{% endblock %}