{% extends 'base.html' %}
{% block title %}Chat{% endblock %}
{% load static %}
{% block content %}
{% include 'nav.html' %}
<link rel="stylesheet" href="{% static 'css/custom/main.css' %}">
{% comment %} <div class="chat m-auto mt-1 bg-white container-sm">
    <div class=" p-3 pb-0 w-100 h-100 messages">
        {% for message in messages %}
        {% if message.user == request.user %}
        <div class="row justify-content-end gap-1 m-1  flex-nowrap float-end  message" id="{{message.id}}">
            <div class="col-auto my-1">
                <p class="my text bg-primary text-white py-1 px-2 fw-bold">{{message.text}}</p>
            </div>
            <div class="col-1">
                <a href="{% url 'profiles:detail' request.user.id %}">
                    <img src="{{ request.user.get_avatar_url }}" alt="avatar" class="avatar w-100 h-100">
                </a>
            </div>
        </div>
        {% else %}
        <div class="row justify-content-start gap-1 m-1 flex-nowrap float-start message" id="{{message.id}}">
            <div class="col-1 text-center">
                <a href="{% url 'profiles:detail' friend.id %}">
                    <img src="{{ friend.get_avatar_url }}" alt="avatar" class="avatar w-100 h-100">
                </a>
            </div>
            <div class="col-auto">
                <p class="my text bg-secondary text-white py-1 px-2 fw-bold">{{message.text}}</p>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="input-group position-sticky bottom-0 w-100 m-0">
        <input type="text" class="form-control" placeholder="Type..." id="text" autofocus>
        <button type="submit" class="btn btn-outline-primary input-group-text" id="send">
            <i class="fas fa-arrow-alt-circle-right"></i>
        </button>
    </div>
</div> {% endcomment %}

<div class="chat m-auto mt-3 bg-white rounded-3 shadow d-flex flex-column">
    <div class="w-100 border-2 border-bottom">
        <a href="{% url 'profiles:detail' friend.pk %}" class="nav-link">
            <img src="{{friend.get_avatar_url}}" alt="avatar" class="avatar-md">
            {{friend.username}}
        </a>
    </div>
    <div class="w-100 h-100 messages d-flex flex-column px-3">
        {% for message in messages %}
        {% if message.user == request.user %}
        <div class="align-self-end my-1 message d-flex justify-content-end" id="{{message.id}}">
            <p class="text bg-primary text-white py-1 px-2 me-1 fw-bold rounded-3">{{message.text}}</p>
            <a href="{% url 'profiles:detail' request.user.id %}">
                <img src="{{ request.user.get_avatar_url }}" alt="avatar" class="avatar">
            </a>
        </div>
        {% else %}
        <div class="align-self-start my-1 message d-flex justify-content-start" id="{{message.id}}">
            <a href="{% url 'profiles:detail' friend.id %}" class="me-1">
                <img src="{{ friend.get_avatar_url }}" alt="avatar" class="avatar">
            </a>
            <p class="text bg-secondary text-white py-1 px-2 fw-bold rounded-3">{{message.text}}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="input-group w-100">
        <input type="text" class="form-control" placeholder="Type..." id="text" autofocus>
        <button type="submit" class="btn btn-outline-primary input-group-text fas fa-arrow-alt-circle-right" id="send">
        </button>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        const messageBox = document.querySelector('.messages');
        messageBox.scrollTop = messageBox.scrollHeight;

        sendText = () => {
            text = document.getElementById('text');
            let xhr = new XMLHttpRequest();
            xhr.open('POST', "{% url 'chat:text' %}", true);
            xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({ room_id: '{{room.room_id}}', text: text.value }));
            text.value = '';
        }
        document.getElementById('send').addEventListener('click', sendText);
        document.getElementById('text').addEventListener('keydown', (event) => {
            if (event.key == 'Enter') sendText();
        });
        request = setInterval(() => {
            messages = document.getElementsByClassName('message');
            if (messages.length > 0){
                latest_message = messages[messages.length-1].id
            }else{
                latest_message = -1
            }
            let xhr = new XMLHttpRequest();
            xhr.open('POST', "{% url 'chat:get_text' %}", true);
            xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({ room_id: '{{room.room_id}}', message: latest_message }));
            xhr.onreadystatechange = () => {
                if (xhr.readyState != 4) return;
                if (xhr.status == 200) {
                    const data = JSON.parse(xhr.responseText);
                    if (Object.keys(data).length != 0){
                        for (i in data){
                            messages = document.querySelector('.messages')
                            if (data[i].user_id == '{{request.user.id}}'){
                                messages.innerHTML +=  `<div class="align-self-end my-1 message d-flex justify-content-end" id="${data[i].id}">
                                                            <p class="text bg-primary text-white py-1 px-2 me-1 fw-bold rounded-3">${data[i].text}</p>
                                                            <a href="{% url 'profiles:detail' request.user.id %}">
                                                                <img src="{{ request.user.get_avatar_url }}" alt="avatar" class="avatar">
                                                            </a>
                                                        </div>`
                            }else{
                                messages.innerHTML +=  `<div class="align-self-start my-1 message d-flex justify-content-start" id="${data[i].id}">
                                                            <a href="{% url 'profiles:detail' friend.id %}" class="me-1">
                                                                <img src="{{ friend.get_avatar_url }}" alt="avatar" class="avatar">
                                                            </a>
                                                            <p class="text bg-secondary text-white py-1 px-2 fw-bold rounded-3">${data[i].text}</p>
                                                        </div>`
                            }
                            messages.querySelector('#text'+data[i].id).textContent = data[i].text;
                        }
                    }
                }
            }
        }, 2500)
    })
    
</script>

{% endblock %}