{% load static %}
<link rel="stylesheet" href="{% static 'css/custom/nav.css' %}">
<nav class="navbar navbar-expand-md navbar-primary bg-white position-sticky top-0">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">facetagram</a>
        <button class="navbar-toggler btn btn-outline-primary" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="fas fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 justify-content-between w-100">
            <ul></ul>
            <ul class="navbar-nav w-50 d-flex justify-content-evenly">
                <li class="nav-item ms-3 w-auto friends p-1">
                    <a href="{% url 'profiles:friends' %}" class="fas fa-user-friends nav-link" title="My friends"></a>
                </li>
                <li class="nav-item ms-3 home p-1">
                    <a href="{% url 'posts:list' %}" title="Home Page" class="fas fa-home nav-link"></a>
                </li>
                <li class="nav-item ms-3 search-profile p-1">
                    <a href="{% url 'profiles:search_profile' %}" class="fas fa-search nav-link"
                    title="Find new friends"></a>
                </li>
            </ul>
            <ul class="navbar-nav w-25 d-flex justify-content-end">
                <li class="nav-item dropstart ms-3">
                    <a class="nav-link p-0" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><img src="{{request.user.get_avatar_url}}" alt="avatar"
                    class="i-avatar"></a>
                    <ul class="dropdown-menu me-5" aria-labelledby="userDropdown">
                        <li><a href="{% url 'profiles:detail' request.user.pk %}"
                            class="dropdown-item text-primary">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a href="{% url 'authenticate:logout' %}" class="dropdown-item text-danger">Log Out</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item ms-3">
                        <a class="nav-link fas fa-bell icon position-relative" data-bs-toggle="offcanvas" href="#notifications"
                        role="button" aria-controls="notifications">
                        {% if notifications.count > 0 %}
                        <span class="position-absolute text-white bg-danger top-0 end-0 px-1 notification-count" style="border-radius: 50%; font-size: .7em;">{{notifications.count}}</span>
                        {% endif %}
                    </a>
                </li>
            </ul>
        </ul>
    </div>
</div>
</nav>

<div class="offcanvas offcanvas-end" tabindex="-1" id="notifications" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Notifications</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body m-auto">
        <div class="toast-container">
            {% for notification in notifications %}
            <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true" id="toast{{notification.id}}">
                <div class="toast-header">
                    <a href="{% url 'profiles:detail' notification.sender.id %}" class="user" id="{{notification.sender.id}}">
                        <img src="{{notification.sender.get_avatar_url}}" class="rounded me-2 avatar" alt="avatar">
                    </a>
                    <strong class="me-auto">{{notification.sender.username}}</strong>
                    <small class="text-muted">{{notification.date_created}}</small>
                </div>
                <div class="toast-body">
                    Friend request
                    <div class="mt-3 pt-3 border-top d-flex justify-content-evenly">
                        <button class="btn btn-primary w-50 accept" id="{{notification.id}}">Accept</button>
                        <button class="btn btn-secondary w-50 ms-3 deny" id="{{notification.id}}">Deny</button>
                    </div>
                </div>
            </div>
            {% empty %}
            <h5 class="text-muted mt-3 mx-auto">No notifications</h5>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        delNotification = () => {
            counter = document.querySelector('.notification-count');
            counter.textContent -= 1;
            if (counter.textContent == 0){
                counter.style.display = 'none';
            }
        }
        document.querySelectorAll('.accept').forEach(accept => accept.addEventListener('click', event => {
            toast = document.querySelector('#toast'+event.target.id);
            let xhr = new XMLHttpRequest();
            xhr.open('POST', "{% url 'profiles:create_friendship' %}", true);
            xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({ user: toast.querySelector('.user').id, notification: event.target.id}));
            toast.remove()
            delNotification();
            
        }))
        
        document.querySelectorAll('.deny').forEach(deny => deny.addEventListener('click', event => {
            toast = document.querySelector('#toast'+event.target.id);
            let xhr = new XMLHttpRequest();
            xhr.open('POST', "{% url 'profiles:friend_request' %}", true);
            xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');
            xhr.setRequestHeader('Content-Type', 'application/json');
            console.log(event.target.id)
            xhr.send(JSON.stringify({ profile_id: toast.querySelector('.user').id, value: 'deny'}));
            toast.remove()
            delNotification();
        }))
    })
</script>