{% extends 'base.html' %}
{% load static %}
{% block title %}facetagram{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/custom/main.css' %}">

{% include 'nav.html' %}

<div class="nav position-fixed bottom-0 end-0 d-flex justify-content-end align-items-center h-auto mb-3 me-5">
    <div class="add-post">
        <button data-bs-toggle="modal" title="Add Post" data-bs-target="#add-post" class="btn"><i class="fas fa-plus big-plus fa-4x"></i></button>
    </div>
</div>

<form method="POST" action="{% url 'posts:create' %}"  class="modal fade" id="add-post" tabindex="-1" aria-labelledby="add-post" aria-hidden="true" enctype="multipart/form-data">{% csrf_token  %}
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <figure class="figure post-image mb-3 d-none" id="post-figure">
                    <div class="bg-image"></div>
                    <div class="blur"></div>
                    <img alt="post" id='post-img' class="position-absolute start-50 top-50 translate-middle">
                </figure>
                <div class="mb-3">
                    <label class="fw-bold" for="image" class="col-form-label">Select Image:</label>
                    <input type="file" class="form-control" name="image" accept="img/*" required id="post-input">
                </div>
                <div class="mb-3">
                    <label class="fw-bold" for="location" class="col-form-label">Location:</label>
                    <input type="text" class="form-control" name="location" maxlength="50">
                </div>
                <div class="mb-3">
                    <label class="fw-bold" for="description" class="col-form-label">Description:</label>
                    <textarea class="form-control" name="description"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </div>
    </div>
</form>

<section class="posts d-flex flex-column mx-auto infinite-container">
    {% for post in posts %}
    <div class="post d-flex flex-column bg-white py-2 my-1 infinite-item" id="{{post.id}}">
        <header class="container px-3">
            <div class="row  align-items-center">
                <div class="col-1 ps-3 pe-0">
                    <a class="col-1 ms-1" href="{% url 'profiles:detail' post.user.pk %}">
                        <img class="i-avatar fs-3" src="{{post.user.get_avatar_url}}" alt="avatar">
                    </a>
                </div>
                <div class="col-9">
                    <a class="name m-0 link-dark text-decoration-none h5" href="{% url 'profiles:detail' post.user.pk %}">{{post.user}}</a>
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                {% if post.location %}
                <p class="small col-10 mb-1">{{post.location}}</p>
                {% else %}
                <div class="mb-2"></div>
                {% endif %}
            </div>
        </header>
        <div class="breaker w-100 mb-2"></div>
        <figure class="figure post-image" onclick="window.location='{% url 'posts:detail' post.pk %}'">
            <div class="bg-image" style="background-image: url({{post.image.url}});"></div>
            <div class="blur"></div>
            <img src="{{post.image.url}}" alt="post" class="position-absolute start-50 top-50 translate-middle">
        </figure>
        <footer class="py-1 px-3 w-100">
            <div class="d-flex justify-content-between">
                <div class="thumbs">
                    <i class="btn {% for like in likes %}{% if like.user == request.user and like.post == post %}{% if like.value == 1 %} text-primary fas {% else %} far {% endif %}{% else %} far {% endif %}{% empty %} far {% endfor %} fa-thumbs-up rate like p{{post.id}}" id="{{post.id}}">{{post.get_like_count}}</i>
                    <i class="btn {% for like in likes %}{% if like.user == request.user and like.post == post %}{% if like.value == -1 %} text-danger fas {% else %} far {% endif %}{% else %} far {% endif %}{% empty %} far {% endfor %} fa-thumbs-down rate dislike p{{post.id}}" id="{{post.id}}">{{post.get_dislike_count}}</i>
                </div>
                <div>
                    <a href="{% url 'posts:detail' post.pk %}" class="btn link-dark text-decoration-none">
                        <small class="me-1 c{{post.id}}">{{post.get_comment_count}}</small>
                        <i class="text-primary fas fa-comment-alt"></i>
                    </a>
                </div>
            </div>     
            <div class="breaker"></div>
            {% if post.description %}
            <p class="description text-truncate px-3 mt-1 mb-0">{{post.description}}</p>
            {% endif %}
        </footer>
        <div class="input-group my-2 mx-4">
            <input type="text" class="form-control comment-input{{post.id}}" placeholder="Comment" id="{{post.id}}">
            <button type="submit" class="btn btn-outline-primary input-group-text comment-submit me-5 fas fa-paper-plane" id="{{post.id}}"></button>
        </div>
    </div>
    <div class="pagination">
        {% if page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{page_obj.next_page_number}}"></a>
        {% endif %}
    </div>
    {% empty %}
    <h5 class="text-center text-muted">No posts</h5>
    {% endfor %}
</section>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        
        document.querySelector('.home').classList.add('current-page');
        
        sendRate = (event) => {
            event.target.classList.add('listening');
            let xhr = new XMLHttpRequest();
            xhr.open('POST', "{% url 'posts:like_post' %}", true);
            xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');
            xhr.setRequestHeader('Content-Type', 'application/json');
            const thumbs = document.querySelectorAll('.p' + event.target.id);
            if (event.target.classList.contains('like')) {
                if (event.target.classList.contains('fas')) {
                    event.target.classList.remove('fas', 'text-primary');
                    event.target.classList.add('far');
                    value = 0;
                } else {
                    event.target.classList.add('fas', 'text-primary');
                    value = 1;
                    if (thumbs[1].classList.contains('fas')) {
                        thumbs[1].classList.remove('fas', 'text-danger');
                    }
                }
            } else {
                if (event.target.classList.contains('fas')) {
                    event.target.classList.remove('fas', 'text-danger');
                    event.target.classList.add('far');
                    value = 0;
                } else {
                    event.target.classList.add('fas', 'text-danger');
                    value = -1;
                    if (thumbs[0].classList.contains('fas')) {
                        thumbs[0].classList.remove('fas', 'text-primary');
                    }
                }
            }
            xhr.send(JSON.stringify({ id: event.target.id, value: value }));
            xhr.onreadystatechange = () => {
                if (xhr.readyState != 4) return;
                if (xhr.status == 200) {
                    const data = JSON.parse(xhr.responseText);
                    thumbs[0].textContent = data['likes'];
                    thumbs[1].textContent = data['dislikes'];
                }
            };
        };
        
        sendComment = event => {
            event.target.classList.add('listening');
            comment = document.querySelector('.comment-input' + event.target.id)
            let xhr = new XMLHttpRequest();
            xhr.open('POST', "{% url 'posts:comment' %}", true);
            xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({ id: comment.id, text: comment.value }));
            comment.value = '';
            xhr.onreadystatechange = () => {
                if (xhr.readyState != 4) return;
                if (xhr.status == 200) {
                    const data = JSON.parse(xhr.responseText);
                    comment_count = document.querySelector('.c'+event.target.id);
                    comment_count.textContent = data['comment_count']
                }
            }
            xhr.send(JSON.stringify({ id: event.target.id, value: value }));
            xhr.onreadystatechange = () => {
                if (xhr.readyState != 4) return;
                if (xhr.status == 200) {
                    const data = JSON.parse(xhr.responseText);
                    thumbs[0].textContent = data['likes'];
                    thumbs[1].textContent = data['dislikes'];
                }
            };
        }
        
        document
        .getElementById('post-input')
        .addEventListener('change', (event) => {
            figure = document.getElementById('post-figure');
            figure.classList.remove('d-none');
            img = figure.querySelector('#post-img');
            img.src = URL.createObjectURL(event.target.files[0]);
        });
        
        rates = document.querySelectorAll('.rate');
        rates.forEach((rate) => {
            rate.addEventListener('click',  sendRate);
        });
        
        commentBtns = document.querySelectorAll('.comment-submit');
        commentBtns.forEach(btn => {
            btn.addEventListener('click', sendComment)
        });
        
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            offset: 'bottom-in-view',
            onBeforePageLoad: () => {
                rates = document.querySelectorAll('.rate');
                rates.forEach(rate => {
                    rate.removeEventListener('click', sendRate);
                })  
                
                commentBtns = document.querySelectorAll('.comment-submit');
                commentBtns.forEach(btn => {
                    btn.removeEventListener('click', sendComment);
                })
            },
            onAfterPageLoad: () => {
                
                rates = document.querySelectorAll('.rate');
                rates.forEach(rate => {
                    rate.addEventListener('click', sendRate);
                })  
                
                commentBtns = document.querySelectorAll('.comment-submit');
                commentBtns.forEach(btn => {
                    btn.addEventListener('click', sendComment);
                })
                
            },
        })
        
    });
</script>
{% endblock %}