{% extends 'base.html' %}
{% load static %}
{% block title %}Detail{% endblock %}
{% block content %}
{% include 'nav.html' %}
<link rel="stylesheet" href="{% static 'css/custom/main.css' %}">
<section class="profile-detail w-100 container-sm px-3 py-2 bg-white shadow">
    <div class="row p-3 pb-0">
        <div class="col-4 d-flex justify-content-center align-items-center">
            <figure class="figure">
                <img src="{{user.get_avatar_url}}" alt="avatar" class="figure-img avatar-lg img-fluid">
            </figure>
        </div>
        <div class="col-8 d-flex flex-column justify-content-center">
            <div class="d-flex">
                <label class="fw-bold me-2" for="username">Username:</label>
                <p>{{user.username}}</p>
            </div>
            {% if user.get_full_name %}
            <div class="d-flex">
                <label class="fw-bold me-2" for="Full Name">Name:</label>
                <p>{{user.get_full_name}}</p>
            </div>
            {% endif %}
            
            {% if user.date_of_birth %}
            <div class="d-flex">
                <label class="fw-bold me-2" for="date_of_birth">Birthday:</label>
                <p>{{user.date_of_birth}}</p>
            </div>
            {% endif %}
            
            {% if user.country %}
            <div class="d-flex">
                <label class="fw-bold me-2" for="country">Country:</label>
                <p>{{user.country}}</p>
            </div>
            {% endif %}
            <div class="d-flex">
                <label class="fw-bold me-2" for="friends">Friends:</label>
                <p>{{user.my_friend.count}}</p>
            </div>
        </div>
    </div>
    <div class="row p-3 pt-0">
        <p>{{user.biography}}</p>
    </div>
</section>

{% if user.pk == request.user.pk %}
<nav class="position-fixed bottom-0 vw-100 shadow bg-white d-flex justify-content-center align-items-center">
    <div class="big-plus">
        <button data-bs-toggle="modal" title="Add Post" data-bs-target="#add-post" class="btn"><span class="fas fa-plus big-plus fa-4x"></span></button>
    </div>
</nav>
<form method="POST" action="{% url 'posts:create' %}"  class="modal fade" id="add-post" tabindex="-1" aria-labelledby="add-post" aria-hidden="true" enctype="multipart/form-data">{% csrf_token  %}
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content mx-3">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <figure class="figure post-image mb-3 d-none" id="post-figure">
                    <div class="bg-image"></div>
                    <div class="blur"></div>
                    <img alt="post" id='post-img' class="position-absolute start-50 top-50 translate-middle">
                </figure>
                <div class="mb-3">
                    <label class="fw-bold" for="image" class="col-form-label">Select Image:</label>
                    <input type="file" class="form-control" name="image" accept="img/*" required id="post-input">
                </div>
                <div class="mb-3">
                    <label class="fw-bold" for="location" class="col-form-label">Location:</label>
                    <input type="text" class="form-control" name="location" maxlength="50">
                </div>
                <div class="mb-3">
                    <label class="fw-bold" for="description" class="col-form-label">Description:</label>
                    <textarea class="form-control" name="description"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </div>
    </div>
</form>
{% endif %}

{% if has_access %}
<section class="d-flex flex-column mx-auto infinite-container mt-2 w-100 d-flex align-items-center" style="margin-bottom: 7em;">
    {% for post in posts %}
    <div class="card post bg-white m-0 py-2 my-1 infinite-item shadow" id="{{post.id}}">
        <div class="card-header d-flex align-items-center">
            <a class="px-1" href="{% url 'profiles:detail' post.user.pk %}">
                <img class="avatar-sm fs-3" src="{{post.user.get_avatar_url}}" alt="avatar">
            </a>
            <div class="ms-2 flex-grow-1 d-flex flex-column align-items-start justify-content-evenly">
                <a class="name m-0 link-dark text-decoration-none fw-bold" style="font-size: 1.2em;" href="{% url 'profiles:detail' post.user.pk %}">{{post.user}}</a>
                {% if post.location %}
                <p class="small col-10 mb-1 fw-light lh-1">{{post.location}}</p>
                {% else %}
                <div class="mb-2"></div>
                {% endif %}
            </div>
        </div>
        <figure class="figure post-image card-img d-flex align-content-center justify-content-center m-auto" onclick="window.location='{% url 'posts:detail' post.pk %}'">
            <img src="{{post.image.url}}" alt="post" class="figure-img img-fluid mx-auto">
        </figure>
        <div class="card-body pb-1 pt-0">
            <div class="links d-flex justify-content-between mb-1 pt-0">
                <div class="thumbs d-flex align-items-center">
                    <span class="btn icon-sm {% for like in likes %}{% if like.user == request.user and like.post == post %}{% if like.value == 1 %} text-primary fas {% else %} far {% endif %}{% else %} far {% endif %}{% empty %} far {% endfor %} fa-thumbs-up rate like p{{post.id}}" id="{{post.id}}">{{post.get_like_count}}</span>
                    <span class="btn icon-sm {% for like in likes %}{% if like.user == request.user and like.post == post %}{% if like.value == -1 %} text-danger fas {% else %} far {% endif %}{% else %} far {% endif %}{% empty %} far {% endfor %} fa-thumbs-down rate dislike p{{post.id}}" id="{{post.id}}">{{post.get_dislike_count}}</span>
                </div>
                <div>
                    <a href="{% url 'posts:detail' post.pk %}" class="btn link-dark text-decoration-none">
                        <small class="me-1 c{{post.id}} icon-sm">{{post.get_comment_count}}</small>
                        <span class="text-primary fas fa-comment-alt icon-sm"></span>
                    </a>
                </div>
            </div>
            {% if post.description %}
            <div class="row" onclick="window.location='{% url 'posts:detail' post.pk %}'">
                <p class="card-text text-truncate col fw-bold">{{post.description}}</p>  
            </div>
            {% endif %}     
        </div>
        <div class="card-footer text-muted text-end">
            2 days ago
        </div>
    </div>
    <div class="pagination">
        {% if page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{page_obj.next_page_number}}"></a>
        {% endif %}
    </div>
    {% empty %}
    <h5 class="text-center text-muted">No posts</h5>
    {% endfor %}
</section>
{% else %}
<h1 class="position-absolute top-50 text-primary translate-middle d-flex flex-column text-center" style="left:30%;">
    <i class="fas fa-lock mb-2" style="font-size:5em;"></i>
    <label>Private</label>
</h1>
{% endif %}
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        trashes = document.querySelectorAll('.delete');
        trashes.forEach((trash) => {
            trash.addEventListener('click', deletePost);
        })
        
        deltePost = (event) => {
            event.target.classList.add('listening');
            let xhr = new XMLHttpRequest();
            xhr.open('POST', "{% url 'posts:delete' %}", true);
            xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({ id: event.target.id }));
            document.getElementById(event.target.id).remove();
        }
        
        sendRate = (event) => {
            event.target.classList.add('listening');
            let xhr = new XMLHttpRequest();
            xhr.open('POST', "{% url 'posts:like_post' %}", true);
            xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');
            xhr.setRequestHeader('Content-Type', 'application/json');
            const thumbs = document.querySelectorAll('.p' + event.target.id);
            if (event.target.classList.contains('like')) {
                if (event.target.classList.contains('fas')) {
                    event.target.classList.remove('fas', 'text-primary');
                    event.target.classList.add('far');
                    value = 0;
                } else {
                    event.target.classList.add('fas', 'text-primary');
                    value = 1;
                    if (thumbs[1].classList.contains('fas')) {
                        thumbs[1].classList.remove('fas', 'text-danger');
                    }
                }
            } else {
                if (event.target.classList.contains('fas')) {
                    event.target.classList.remove('fas', 'text-danger');
                    event.target.classList.add('far');
                    value = 0;
                } else {
                    event.target.classList.add('fas', 'text-danger');
                    value = -1;
                    if (thumbs[0].classList.contains('fas')) {
                        thumbs[0].classList.remove('fas', 'text-primary');
                    }
                }
            }
            xhr.send(JSON.stringify({ id: event.target.id, value: value }));
            xhr.onreadystatechange = () => {
                if (xhr.readyState != 4) return;
                if (xhr.status == 200) {
                    const data = JSON.parse(xhr.responseText);
                    thumbs[0].textContent = data['likes'];
                    thumbs[1].textContent = data['dislikes'];
                }
            };
        };
        
        document
        .getElementById('post-input')
        .addEventListener('change', (event) => {
            figure = document.getElementById('post-figure');
            figure.classList.remove('d-none');
            img = figure.querySelector('#post-img');
            img.src = URL.createObjectURL(event.target.files[0]);
        });
        
        trashes = document.querySelectorAll('.delete');
        trashes.forEach((trash) => {
            trash.addEventListener('click', deletePost);
        })
        
        rates = document.querySelectorAll('.rate');
        rates.forEach((rate) => {
            rate.addEventListener('click',  sendRate);
        });
        
        commentBtns = document.querySelectorAll('.comment-submit');
        commentBtns.forEach(btn => {
            btn.addEventListener('click', sendComment)
        });
        
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            offset: 'bottom-in-view',
            onBeforePageLoad: () => {

            },
            onAfterPageLoad: () => {
                
                rates = document.querySelectorAll('.rate');
                rates.forEach(rate => {
                    rate.addEventListener('click', sendRate);
                })  
                
                commentBtns = document.querySelectorAll('.comment-submit');
                commentBtns.forEach(btn => {
                    btn.addEventListener('click', sendComment);
                })
                
                trashes = document.querySelectorAll('.delete');
                trashes.forEach((trash) => {
                    trash.addEventListener('click', deletePost);
                })
                
            },
        })
        
    });
    
</script>
{% endblock %}