{% extends 'base.html' %}
{% load static %}
{% load functions %}
{% block title %}Profile List{% endblock %}
{% block content %}
<section class="container-sm w-75  mx-auto rounded-3 my-3 users">
    <form method="GET" autocomplete="off" class="d-flex justify-content-center position-sticky top-0 search bg-white border-0 border-bottom rounded-0 border-primary rounded-3 autocomplete">
        <input class="form-control border-primary text-primary border-0" type="search" placeholder="Search" aria-label="Search" name="search" value="{{request.GET.search|default_if_none:''}}" id="search">
        <button class="btn btn-outline-primary px-2 ms-1 border-0" type="submit"><i class="fas fa-search" id="search-btn"></i></button>
    </form> 
    <ul class="p-0 mt-2 infinite-container" id="profiles">
        {% for profile in profiles %}
        <li class="d-flex infinite-item flex-row align-items-center justify-content-between p-1 my-3 border-bottom">
            <h5 class="fw-bold" style="font-size: 1.25em" onclick="window.location.assign('{% url 'profiles:detail' profile.pk %}')">
                <img src="{{profile.get_avatar_url}}" alt="avatar" class="avatar-md me-1">
                {{profile.username}}
            </h5>
            <div>
                {% if profile.is_friend %}
                {% generate_room_id request.user.pk profile.pk as room_id %}
                <a href="{% url 'chat:room' room_id %}" class="btn btn-primary fas fa-envelope room-link" id="link{{profile.pk}}"></a>
                <button class="btn btn-danger fas fa-user-minus remove request" id="{{profile.pk}}"></button>
                {% elif profile.is_waiting %}
                <button class="btn btn-warning fas fa-user-minus cancel request" id="{{profile.pk}}"></button>
                {% else %}
                <button class="btn btn-primary fas fa-user-plus add request" id="{{profile.pk}}"></button>
                {% endif %}
            </div>
        </li>
        {% empty %}
        <h5 class="text-muted w-100 text-center mt-3">No users are available</h5>
        {% endfor %}    
        <div class="pagination">
            {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?page={{page_obj.next_page_number}}"></a>
            {% endif %}
        </div>       
    </ul>
</section>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        {% if request.GET.filter == "friends" %}
        document.querySelector('.friends').classList.add('current-page');
        const friends = true
        {% else %}
        document.querySelector('.profiles').classList.add('current-page');
        const friends = false
        {% endif %}
        
        friendRequest = (event) => {
            let value = 0;
            if (event.target.classList.contains('add')){
                value = 'add';
                event.target.classList.remove('add', 'btn-primary', 'fa-user-plus');
                event.target.classList.add('cancel', 'btn-warning', 'fa-user-minus');
            } else if(event.target.classList.contains('remove')){
                value = 'remove';
                event.target.classList.remove('remove', 'btn-danger', 'fa-user-minus');
                event.target.classList.add('add', 'btn-primary', 'fa-user-plus');
                document.querySelector(`#link${event.target.id}`).remove()
            }
            else{
                value = 'cancel';
                event.target.classList.remove('cancel', 'btn-warning', 'fa-user-minus');
                event.target.classList.add('add', 'btn-primary', 'fa-user-plus');
            }
            let xhr = new XMLHttpRequest();
            xhr.open('POST', "{% url 'profiles:friend_request' %}", true);
            xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({ profile_id: event.target.id, value: value }));
        }
        friendshipSystem = () => {
            buttons = document.querySelectorAll('.request');
            buttons.forEach(btn => btn.addEventListener('click', friendRequest));
        };
        friendshipSystem();

        /* Infinite scroll */
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            offset: 'bottom-in-view',
            onBeforePageLoad: () => {
            },
            onAfterPageLoad: () => {
                friendshipSystem();
            },
        });

        /* Send search input data and show response */
        document.getElementById('search').addEventListener('keyup', (event) => {
            value = event.target.value;
            if ([13, 38, 40].includes(event.keyCode)) return;
            let xhr = new XMLHttpRequest();
            xhr.open('POST', "{% url 'profiles:search' %}", true);
            xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({ search: value, friends: friends }));
            xhr.onreadystatechange = () => {
                if (xhr.readyState != 4) return;
                if (xhr.status == 200) {
                    const profiles = JSON.parse(xhr.responseText);
                    let a = [];
                    for (i=0; i<profiles.length; i++){
                        a[i] = profiles[i]["username"];
                    };
                    autocomplete(a);
                };
            };
        });

        function autocomplete(arr) {
            /*the autocomplete function takes two arguments,
            the text field element and an array of possible autocompleted values:*/
            var inp = document.getElementById("search");
            var currentFocus;
            /*execute a function when someone writes in the text field:*/
            var a, b, i, val = inp.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) { return false;}
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", inp.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            inp.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    /*create a DIV element for each matching element:*/
                    b = document.createElement("DIV");
                    /*make the matching letters bold:*/
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    /*insert a input field that will hold the current array item's value:*/
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function(e) {
                        /*insert the value for the autocomplete text field:*/
                        inp.value = inp.getElementsByTagName("input")[0].value;
                        /*close the list of autocompleted values,
                        (or any other open lists of autocompleted values:*/
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
            /*execute a function presses a key on the keyboard:*/
            inp.addEventListener("keydown", function(e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    /*If the arrow DOWN key is pressed,
                    increase the currentFocus variable:*/
                    currentFocus++;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 38) { //up
                    /*If the arrow UP key is pressed,
                    decrease the currentFocus variable:*/
                    currentFocus--;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 13) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                    if (currentFocus > -1) {
                        /*and simulate a click on the "active" item:*/
                        if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {
                /*a function to classify an item as "active":*/
                if (!x) return false;
                /*start by removing the "active" class on all items:*/
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                /*add class "autocomplete-active":*/
                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
                    /*a function to remove the "active" class from all autocomplete items:*/
                    for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                /*close all autocomplete lists in the document,
                except the one passed as an argument:*/
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            /*execute a function when someone clicks in the document:*/
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }
    })
</script>
{% endblock %}