{% extends 'base.html' %}
{% load static %}
{% load functions %}
{% block title %}Profile Detail{% endblock %}
{% block content %}
<section class="profile-detail w-100 container-sm px-3 py-2 bg-white shadow">
    <div class="row p-3 pb-0">
        <div class="col-4 d-flex justify-content-center align-items-center">
            <figure class="figure">
                <img src="{{profile.get_avatar_url}}" alt="avatar" class="figure-img avatar-lg img-fluid">
            </figure>
        </div>
        <div class="col-8 d-flex flex-column justify-content-center">
            <div class="d-flex">
                <label class="fw-bold me-2" for="username">Username:</label>
                <p>{{profile.username}}</p>
            </div>
            {% if profile.get_full_name %}
            <div class="d-flex">
                <label class="fw-bold me-2" for="Full Name">Name:</label>
                <p>{{profile.get_full_name}}</p>
            </div>
            {% endif %}
            
            {% if profile.date_of_birth %}
            <div class="d-flex">
                <label class="fw-bold me-2" for="date_of_birth">Birthday:</label>
                <p>{{user.date_of_birth}}</p>
            </div>
            {% endif %}
            
            {% if profile.country %}
            <div class="d-flex">
                <label class="fw-bold me-2" for="country">Country:</label>
                <p>{{profile.country}}</p>
            </div>
            {% endif %}
            <div class="d-flex">
                <label class="fw-bold me-2" for="friends">Friends:</label>
                <p>{{profile.friends.count}}</p>
            </div>
        </div>
    </div>
    <div class="row p-3 pt-0">
        <p>{{profile.biography}}</p>
    </div>
    {% if not request.user == profile %}
    <div class="d-flex justify-content-end p-2">
        {% if profile.is_friend %}
        {% generate_room_id request.user.pk profile.pk as room_id %}
        <a href="{% url 'chat:room' room_id %}" class="btn btn-primary fas fa-envelope room-link" id="link{{profile.pk}}"></a>
        <button class="btn btn-danger fas fa-user-minus remove request ms-1" id="{{profile.pk}}"></button>
        {% elif profile.is_waiting %}
        <button class="btn btn-warning fas fa-user-minus cancel request" id="{{profile.pk}}"></button>
        {% else %}
        <button class="btn btn-primary fas fa-user-plus add request" id="{{profile.pk}}"></button>
        {% endif %}
    </div>
    {% endif %}
</section>

{% if profile == request.user %}
<nav class="position-fixed bottom-0 vw-100 shadow bg-white d-flex justify-content-center align-items-center">
    <div class="big-plus">
        <button data-bs-toggle="modal" title="Add Post" data-bs-target="#add-post" class="btn"><span class="fas fa-plus big-plus fa-4x"></span></button>
    </div>
</nav>
<form method="POST" action="{% url 'posts:create' %}"  class="modal fade" id="add-post" tabindex="-1" aria-labelledby="add-post" aria-hidden="true" enctype="multipart/form-data">{% csrf_token  %}
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content mx-3">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <figure class="figure post-image mb-3 d-none" id="post-figure">
                    <div class="bg-image"></div>
                    <div class="blur"></div>
                    <img alt="post" id='post-img' class="position-absolute start-50 top-50 translate-middle">
                </figure>
                <div class="mb-3">
                    <label class="fw-bold" for="image" class="col-form-label">Select Image:</label>
                    <input type="file" class="form-control" name="image" accept="img/*" required id="post-input">
                </div>
                <div class="mb-3">
                    <label class="fw-bold" for="location" class="col-form-label">Location:</label>
                    <input type="text" class="form-control" name="location" maxlength="50">
                </div>
                <div class="mb-3">
                    <label class="fw-bold" for="description" class="col-form-label">Description:</label>
                    <textarea class="form-control" name="description"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Post</button>
            </div>
        </div>
    </div>
</form>
{% endif %}

<section class="d-flex flex-column mx-auto infinite-container mt-2 w-100 d-flex align-items-center" style="margin-bottom: 7em;">
{% if profile == request.user  or request.user in profile.friends.all or not profile.is_private %}
    {% for post in posts %}
    <div class="card post bg-white m-0 py-2 my-1 infinite-item shadow" id="{{post.id}}">
        <div class="card-header d-flex align-items-center">
            <a class="px-1" href="{% url 'profiles:detail' post.user.pk %}">
                <img class="avatar-sm fs-3" src="{{post.user.get_avatar_url}}" alt="avatar">
            </a>
            <div class="ms-2 flex-grow-1 d-flex flex-column align-items-start justify-content-evenly">
                <a class="name m-0 link-dark text-decoration-none fw-bold" style="font-size: 1.2em;" href="{% url 'profiles:detail' post.user.pk %}">{{post.user}}</a>
                {% if post.location %}
                <p class="small col-10 mb-1 fw-light lh-1">{{post.location}}</p>
                {% else %}
                <div class="mb-2"></div>
                {% endif %}
            </div>
            {% if request.user == profile %}
            <button class="btn btn-outline-danger justify-self-end delete fas fa-trash-alt" id="{{post.id}}"></button>
            {% endif %}
        </div>
        <figure class="figure post-image card-img d-flex align-content-center justify-content-center m-auto" onclick="window.location='{% url 'posts:detail' post.pk %}'">
            <img src="{{post.image.url}}" alt="post" class="figure-img img-fluid mx-auto">
        </figure>
        <div class="card-body pb-1 pt-0">
            {% if post.description %}
            <p class="card-text fw-bold px-3 pt-1 my-1" onclick="window.location='{% url 'posts:detail' post.pk %}'">{{post.description}}</p>
            {% endif %}  
            <div class="links d-flex justify-content-between mb-1 pt-0">
                <div class="thumbs d-flex align-items-center">
                <span class="btn icon-sm {% if post.is_liked %}fas text-primary{% else %}far{% endif %} fa-thumbs-up rate like p{{post.id}}" id="{{post.id}}">{{post.get_like_count}}</span>
                    <span class="btn icon-sm {% if post.is_disliked %}fas text-danger{% else %}far{% endif %} fa-thumbs-down rate dislike p{{post.id}}" id="{{post.id}}">{{post.get_dislike_count}}</span>
                </div>
                <div>
                    <a href="{% url 'posts:detail' post.pk %}" class="btn link-dark text-decoration-none">
                        <small class="me-1 c{{post.id}} icon-sm">{{post.get_comment_count}}</small>
                        <span class="text-primary fas fa-comment-alt icon-sm"></span>
                    </a>
                </div>
            </div>
            {% if post.description %}
            <div class="row" onclick="window.location='{% url 'posts:detail' post.pk %}'">
                <p class="card-text text-truncate col fw-bold">{{post.description}}</p>  
            </div>
            {% endif %}     
        </div>
        <div class="card-footer text-muted text-end">
            {{post.date_created}}
        </div>
    </div>
    <div class="pagination">
        {% if page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{page_obj.next_page_number}}"></a>
        {% endif %}
    </div>
    {% empty %}
    <h5 class="text-center text-muted">No posts</h5>
    {% endfor %}
    {% else %}
    <h1 class="text-primary d-flex flex-column text-center mt-3">
        <i class="fas fa-lock mb-2" style="font-size:5em;"></i>
        <label>Private</label>
    </h1>
</section>
{% endif %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        
        deletePost = (event) => {
            let xhr = new XMLHttpRequest();
            xhr.open('POST', "{% url 'posts:delete' %}", true);
            xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({ id: event.target.id }));
            document.getElementById(event.target.id).remove();
        }
        
        sendRate = (event) => {
            let xhr = new XMLHttpRequest();
            xhr.open('POST', "{% url 'posts:like_post' %}", true);
            xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');
            xhr.setRequestHeader('Content-Type', 'application/json');
            const thumbs = document.querySelectorAll('.p' + event.target.id);
            if (event.target.classList.contains('like')) {
                if (event.target.classList.contains('fas')) {
                    event.target.classList.remove('fas', 'text-primary');
                    event.target.classList.add('far');
                    value = 0;
                } else {
                    event.target.classList.add('fas', 'text-primary');
                    value = 1;
                    if (thumbs[1].classList.contains('fas')) {
                        thumbs[1].classList.remove('fas', 'text-danger');
                    }
                }
            } else {
                if (event.target.classList.contains('fas')) {
                    event.target.classList.remove('fas', 'text-danger');
                    event.target.classList.add('far');
                    value = 0;
                } else {
                    event.target.classList.add('fas', 'text-danger');
                    value = -1;
                    if (thumbs[0].classList.contains('fas')) {
                        thumbs[0].classList.remove('fas', 'text-primary');
                    }
                }
            }
            xhr.send(JSON.stringify({ id: event.target.id, value: value }));
            xhr.onreadystatechange = () => {
                if (xhr.readyState != 4) return;
                if (xhr.status == 200) {
                    const data = JSON.parse(xhr.responseText);
                    thumbs[0].textContent = data['likes'];
                    thumbs[1].textContent = data['dislikes'];
                }
            };
        };

        {% if not request.user == profile %}
        friendRequest = (event) => {
            let value = 0;
            if (event.target.classList.contains('add')){
                value = 'add';
                event.target.classList.remove('add', 'btn-primary', 'fa-user-plus');
                event.target.classList.add('cancel', 'btn-warning', 'fa-user-minus');
            } else if(event.target.classList.contains('remove')){
                value = 'remove';
                event.target.classList.remove('remove', 'btn-danger', 'fa-user-minus');
                event.target.classList.add('add', 'btn-primary', 'fa-user-plus');
                document.querySelector(`#link${event.target.id}`).remove();
            } else{
                value = 'cancel';
                event.target.classList.remove('cancel', 'btn-warning', 'fa-user-minus');
                event.target.classList.add('add', 'btn-primary', 'fa-user-plus');
            };
            let xhr = new XMLHttpRequest();
            xhr.open('POST', "{% url 'profiles:friend_request' %}", true);
            xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({ profile_id: event.target.id, value: value }));
        };
        
        document.querySelector(".request").addEventListener("click", friendRequest);
        {% endif %}

        {% if profile == request.user %}
        document.getElementById('post-input').addEventListener('change', (event) => {
            figure = document.getElementById('post-figure');
            figure.classList.remove('d-none');
            img = figure.querySelector('#post-img');
            img.src = URL.createObjectURL(event.target.files[0]);
        });
        {% endif %}
        
        document.querySelectorAll('.rate').forEach(rate => {
            rate.addEventListener('click', sendRate);
        })  
        
        document.querySelectorAll('.delete').forEach((btn) => {
            btn.addEventListener('click', deletePost);
        })
        
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            offset: 'bottom-in-view',
            onBeforePageLoad: () => {

            },
            onAfterPageLoad: () => {
                
                document.querySelectorAll('.rate').forEach(rate => {
                    rate.addEventListener('click', sendRate);
                })  
                
                document.querySelectorAll('.delete').forEach((btn) => {
                    btn.addEventListener('click', deletePost);
                })
                
            },
        })
        
    });
    
</script>
{% endblock %}