{% extends 'base.html' %}
{% load static %}
{% block title %}Search Profiles{% endblock %}
{% block content %}
{% include 'nav.html' %}
<link rel="stylesheet" href="{% static 'css/custom/main.css' %}">
<section class="container-sm w-75  mx-auto rounded-3 my-3 users">
    <form method="GET" class="d-flex justify-content-center position-sticky top-0 search bg-white border-0 border-bottom rounded-0 border-primary rounded-3">
        <input class="form-control border-primary text-primary border-0" type="search" placeholder="Search" aria-label="Search" autocomplete="profile" name="search" value="{{request.GET.search|default_if_none:''}}" id="search">
        <button class="btn btn-outline-primary px-2 ms-1 border-0" type="submit"><i class="fas fa-search" id="search-btn"></i></button>
    </form> 
    <ul class="p-0 mt-2 infinite-container" id="profiles">
        {% for profile in profiles %}
        <li class="d-flex flex-row align-items-center justify-content-between p-1 my-3 border-bottom" onclick="window.location.assign('{% url 'profiles:detail' profile.id %}')">
            <h5 class="fw-bold" style="font-size: 1.25em">
                <img src="{{profile.get_avatar_url}}" alt="avatar" class="avatar-md me-1">
                {{profile.username}}
            </h5>
            <div>
                <button class="btn btn-primary fas fa-user-plus"></button>
            </div>
        </li>
        {% empty %}
        <h5 class="text-muted">No users are available</h5>
        {% endfor %}    
        <div class="pagination">
            {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?page={{page_obj.next_page_number}}"></a>
            {% endif %}
        </div>       
    </ul>
</section>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('.search-profile').classList.add('current-page');
        sendRequest = (event) => {
            let value;
            console.log('hello')
            console.log(event.target)
            if (event.target.classList.contains('send')){
                value = 'send';
                event.target.classList.remove('send', 'btn-primary');
                event.target.classList.add('cancel', 'btn-danger');
                event.target.textContent = 'Cancel Friend Request';
            } else if(event.target.classList.contains('end-friendship')){
                value = 'end-friendship';
                event.target.classList.add('send', 'btn-primary');
                event.target.classList.remove('end-friendship', 'btn-danger');
                event.target.textContent = 'Send Friend Request'
            }
            else{
                value = 'cancel';
                event.target.classList.add('send', 'btn-primary');
                event.target.classList.remove('cancel', 'btn-danger');
                event.target.textContent = 'Send Friend Request';
            }
            let xhr = new XMLHttpRequest();
            xhr.open('POST', "{% url 'profiles:friend_request' %}", true);
            xhr.setRequestHeader('X-CSRFToken', '{{csrf_token}}');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({ profile_id: event.target.id, value: value }));
        }
        requestSystem = () => {
            buttons = document.querySelectorAll('.request');
            buttons.forEach(btn => btn.addEventListener('click', sendRequest));
        };
        requestSystem();
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            offset: 'bottom-in-view',
            onBeforePageLoad: () => {
            },
            onAfterPageLoad: () => {
                requestSystem();
            },
        });
    })
</script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/infinite.min.js' %}"></script>
{% endblock %}